@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap");


body {
  text-align: right;
  font-family: 'Noto Naskh Arabic', "serif";

}

table ,td, th{
  border: 1px solid black;
  border-collapse: collapse;
}

@layer components {
  .btn_base {
    @apply inline-block px-4 py-2 text-white rounded-lg bg-darkBlue;
  }
}

.courses td{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.courses {
  display: flex;
  flex-direction: row;
  width: 100%;
} 

.coursesHeader th{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background: lightblue;
}

.coursesHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 15px;
} 